<nav>
    <ul>
        {{#each activeNav as |one|}}
            {{#if one.active}}
                <li class="active">
                    {{#link-to one.link}}{{one.title}}{{/link-to}}
                </li>
            {{else}}
                <li>
                    {{#link-to one.link}}{{one.title}}{{/link-to}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</nav>