* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    background: #ddd;
    font-family: Arial;
    font-size: 14px;
}

.wrapper {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 5px #999;
}

header {
    /*outline: 1px solid red;*/
}

header nav {
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

header nav ul li.active a {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.h-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.table-content {
    width: 100%;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-spacing: 0;
}

.table-content tr {
    background: #fff;
    transition: .3s;
}

.table-content tr:hover {
    background: #ddd;
}

.table-content tr.head:hover {
    background: #fff;
}

.table-content td, .table-content th {
    padding: 5px 10px;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}

.table-content td.empty {
    padding: 10px;
    text-align: center;
}